html
  head
    title= title
  body
    h2= message
    div
      p= "API Endpoint"
      input(name= "endpoint" value= endpoint style= "width: 100%" readonly)
    br
    div
      p= "Access Key Id"
      input(name= "accces-key-id" value= accessKeyId style= "width: 100%" readonly)
    br
    div
      p= "Access Key Secret"
      textarea(name= "accces-key-secret" readonly style= "width: 100%")
        | #{accessKeySecret}